<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="A social roleplaying fiction writing platform for video game communities">
    <meta name="author" content="Brian Kennedy">
    <meta name="keywords" content="roleplay, immersive, video games, fiction, writing, sharing, journal, rp">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>img/icons/favicon-16x16.png">
    <link rel="manifest" href="<%= BASE_URL %>site.webmanifest">
    <link rel="mask-icon" href="<%= BASE_URL %>img/icons/safari-pinned-tab.svg" color="#bdd6fb">
    <meta name="msapplication-TileColor" content="#bdd6fb">
    <meta name="theme-color" content="#bdd6fb">
    <title>Role Fiction</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Role Fiction doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
