<template>
  <div class="explore">
    <div class="stories-panel">
      <div class="panel-header">
        <h3>{{$t('stories-header')}}</h3>
      </div>
      <StoriesList :sorted-stories="publicStories"/>
    </div>
    <div class="entry-panel" :class="{ empty: !combinedContent }">
      <h1 v-if="combinedContent" v-html="story.title"></h1>
      <el-card
        v-if="combinedContent"
        class="combined-entries"
        v-html="combinedContent">
      </el-card>
      <StoryControl v-if="displayStoryControls" :story-id="story.id" />
      <div class="message-holder" v-if="!combinedContent">
        <div>
          <FictionQuotes />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FictionQuotes from '@/components/FictionQuotes.vue'
import StoriesList from '@/components/StoriesList.vue'
import StoryControl from '@/components/StoryControl.vue'
import { mapState, mapActions, mapGetters } from 'vuex'

export default {
  name: 'Explore',
  components: {
    StoriesList,
    StoryControl,
    FictionQuotes
  },
  computed: {
    ...mapGetters('publicStoriesData', ['publicStories']),
    ...mapGetters('entriesData', ['entries', 'combinedContent']),
    ...mapState('userData', ['user']),
    ...mapState('storiesData', ['story']),
    displayStoryControls () {
      if (this.combinedContent && this.story && this.story.created_by === this.user.id) {
        return true
      }
      return false
    }
  },
  methods: {
    ...mapActions('publicStoriesData', ['getPublicStories', 'resetPublicStoriesState'])
  },
  async created () {
    await this.resetPublicStoriesState()
    await this.$store.dispatch('publicStoriesData/openDBChannel')
  }
}
</script>

<style lang="scss" scoped>
  .explore {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .stories-panel {
      flex: 2;
      width: 25rem;
      max-width: 25rem;
      background-color: var(--light-background);
      border: var(--base-border);
      margin: var(--stories-panel-margin);
      background-color: var(--stories-list-background-color);
      background-image: var(--stories-list-background-image);
      box-shadow: var(--stories-list-background-box-shadow);
      border-image: var(--stories-list-border-image);
      border-width: var(--stories-list-border-width);
      border-style: var(--stories-list-border-style);
      .stories-list /deep/ {
        padding-left: .7rem;
        padding-right: .7rem;
        padding-top: .7rem;
        max-height: var(--stories-list-max-height);
      }
    }
    .panel-header {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--stories-panel-header-background-color);
      background-image: var(--stories-panel-header-background-image);
      box-shadow: var(--stories-panel-header-background-box-shadow);
      border-image: var(--stories-panel-header-border-image);
      border-width: var(--stories-panel-header-border-width);
      border-style: var(--stories-panel-header-border-style);
      height: var(--stories-panel-header-height);
      width: var(--stories-panel-header-width);
      h3 {
        font-family: var(--font-family-header);
        font-weight: bold;
        flex: 1;
        text-align: center;
        color: var(--alt-font-color);
      }
    }
    .entry-panel {
      flex: 3;
      overflow: auto;
      h1 {
        text-align: center;
        padding-right: 6rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      &.empty {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
        .message-holder {
          max-width: 38rem;
          background-color: var(--message-holder-color);
          -webkit-background-clip: text;
          -moz-background-clip: text;
          background-clip: text;
          color: transparent;
          text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
        }
      }
    }
  }
</style>
