<template>
  <div class="home">
    <div class="shape">
      <div class="shape-container--1 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--2 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--3 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--4 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--5 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--6 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--7 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--8 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--9 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--10 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--11 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--12 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--13 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--14 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--15 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--16 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--17 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--18 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--19 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--20 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--21 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--22 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--23 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--24 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--25 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--26 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--27 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--28 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--29 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--30 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--31 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--32 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--33 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--34 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--35 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--36 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--37 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--38 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--39 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--40 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--41 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--42 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--43 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--44 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--45 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--46 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--47 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--48 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--49 shape-animation"><div class="random-shape"></div></div>
      <div class="shape-container--50 shape-animation"><div class="random-shape"></div></div>
    </div>
    <h1>Role Fiction</h1>
    <p>Create and share your role playing stories, geared towards gamers who want themed immersion as they play their favorite role playing games.</p>
    <div class="mock-holder">
      <div class="mock-nav">
        <div class="mock-logo">
          <div class="circle-space">&nbsp;</div>
        </div>
        <div class="mock-nav-item">
          <div class="medium-text">&nbsp;</div>
        </div>
        <div class="mock-nav-item">
          <div class="medium-text">&nbsp;</div>
        </div>
        <div class="mock-nav-item">
          <div class="medium-text">&nbsp;</div>
        </div>
        <div class="mock-user">
          <div class="user-space">&nbsp;</div>
        </div>
      </div>
      <div class="mock-content">
        <div class="mock-sidebar">
          <div class="mock-sb-header">
            <div class="large-text">&nbsp;</div>
          </div>
          <div class="mock-card-holder">
            <div class="mock-card">
              <div class="mock-card-header">
                <div class="left">
                  <div class="medium-text">&nbsp;</div>
                  <div class="small-text">&nbsp;</div>
                </div>
                <div class="right">
                  <div class="green-space">&nbsp;</div>
                </div>
              </div>
              <div class="mock-card-footer">
                <div class="left">
                  <div class="user-space">&nbsp;</div>
                  <div class="small-text">&nbsp;</div>
                </div>
                <div class="right">
                  <div class="red-space">&nbsp;</div>
                </div>
              </div>
            </div>
            <div class="mock-card">
              <div class="mock-card-header">
                <div class="left">
                  <div class="medium-text">&nbsp;</div>
                  <div class="small-text">&nbsp;</div>
                </div>
                <div class="right">
                  <div class="green-space">&nbsp;</div>
                </div>
              </div>
              <div class="mock-card-footer">
                <div class="left">
                  <div class="user-space turqoise-user">&nbsp;</div>
                  <div class="small-text">&nbsp;</div>
                </div>
                <div class="right">
                  <div class="black-space">&nbsp;</div>
                </div>
              </div>
            </div>
            <div class="mock-card">
              <div class="mock-card-header">
                <div class="left">
                  <div class="medium-text">&nbsp;</div>
                  <div class="small-text">&nbsp;</div>
                </div>
                <div class="right">
                  <div class="green-space">&nbsp;</div>
                </div>
              </div>
              <div class="mock-card-footer">
                <div class="left">
                  <div class="user-space purple-user">&nbsp;</div>
                  <div class="small-text">&nbsp;</div>
                </div>
                <div class="right">
                  <div class="red-space">&nbsp;</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mock-main">
          <div class="mock-text-header">
            <div class="large-text">&nbsp;</div>
          </div>
          <div class="mock-text-editor">
            <div class="paragraph">
              <div class="st-4 lm">&nbsp;</div>
              <div class="st-8">&nbsp;</div>
              <div class="st-12">&nbsp;</div>
              <div class="st-10">&nbsp;</div>
            </div>
            <div class="paragraph">
              <div class="st-4 lm">&nbsp;</div>
              <div class="st-4">&nbsp;</div>
              <div class="st-7">&nbsp;</div>
              <div class="st-6">&nbsp;</div>
            </div>
            <div class="paragraph">
              <div class="st-10 lm">&nbsp;</div>
              <div class="st-9">&nbsp;</div>
              <div class="st-12">&nbsp;</div>
              <div class="st-11">&nbsp;</div>
            </div>
            <div class="paragraph">
              <div class="st-6 lm">&nbsp;</div>
              <div class="st-5">&nbsp;</div>
              <div class="st-4">&nbsp;</div>
              <div class="st-8">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'home',
  components: {
  }
}
</script>

<style lang="scss" scoped>

.home {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130vh;
  overflow: hidden;
  display: block;
  position: relative;
}
h1 {
  font-family: 'ColorTube';
  text-transform: uppercase;
  text-align: center;
  font-size: 3rem;
  color: #333333!important;
  flex: 1;
  padding-bottom: 0;
  margin-bottom: 0;
}
p {
  flex: 1;
  text-align: center;
  font-size: 1.25rem;
  padding-top: 0;
  padding-left: 15%;
  padding-right: 15%;
  margin-bottom: 3rem;
  margin-top: 2rem;
  color: #333333;
}
.mock-holder {
  flex: 1;
  height: auto;
  background-color: #FFF7E1;
  border: 1px solid #dddddd;
  border-radius: .5rem;
  margin-left: 15%;
  margin-right: 15%;
}
.mock-nav {
  width: 100%;
  height: 4rem;
  background: #ffffff;
  border-top-left-radius: .5rem;
  border-top-right-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
  .mock-logo {
    flex: 1;
    height: 100%;
    max-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      flex: 1;
      height: 2rem;
      border-radius: 50%;
      background: #cccccc;
      max-width: 2rem;
    }
  }
  .mock-nav-item {
    flex: 1;
    height: 100%;
    max-width: 4rem;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: 1rem;
    margin-right: 1rem;
    div {
      flex: 1;
      height: 1rem;
      width: 100%;
      border-radius:5rem;
      background: #cccccc;
    }
  }
  .mock-user {
    position: absolute;
    right: 0;
    top: 0;
    width: 4rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    div {
      flex: 1;
      height: 2.5rem;
      border-radius: 50%;
      background: #7FB5CD;
      max-width: 2.5rem;
    }
  }
}
.mock-content {
  display: flex;
  align-items: stretch;
  justify-content: center;
  .mock-sidebar {
    flex: 1;
    min-width: 20rem;
    background: #ffffff;
    border-top: 1px solid #e1e1e1;
    border-bottom-left-radius: .5rem;
    .mock-sb-header {
      height: 3rem;
      width: 100%;
      background: #F0F0F0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #e1e1e1;
      div {
        flex: 1;
        height: 1rem;
        max-width: 50%;
        border-radius: 5rem;
        background: #999;
      }
    }
    .mock-card-holder {
      padding: 1rem;
      height: auto;
      .mock-card {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        padding: 1rem;
        border: 1px solid #e1e1e1;
        border-radius: 1rem;
        margin-bottom: 1rem;
        .mock-card-header {
          flex:1;
          display: flex;
          align-items: center;
          justify-content: center;
          border-bottom: 1px solid #e1e1e1;
          padding-bottom: 1rem;
          .left {
            flex:1;
            flex-direction: column;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .medium-text {
              flex: 1;
              height: .75rem;
              width: 100%;
              max-width: 70%;
              border-radius: 5rem;
              background: #cccccc;
              margin-bottom: 1rem;
            }
            .small-text {
              flex: 1;
              height: .25rem;
              width: 100%;
              max-width: 30%;
              border-radius: 5rem;
              background: #cccccc;
            }
          }
          .right {
            flex:1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            .green-space {
              flex: 1;
              max-width: 40%;
              height: 1.25rem;
              border-radius: .25rem;
              background: #9CDAA5;
              margin-right: .75rem;
            }
          }
        }
        .mock-card-footer {
          flex:1;
          display: flex;
          align-items: center;
          justify-content: center;
          padding-top: 1rem;
          .left {
            flex:1;
            display: flex;
            align-items: center;
            justify-content: left;
            width: 100%;
            .user-space {
              flex: 1;
              height: 2rem;
              max-width: 2rem;
              border-radius: 50%;
              background: #F0D88F;
              margin-left: 1rem;
            }
            .turqoise-user {
              background: #99CCE0;
            }
            .purple-user {
              background: #9284EF;
            }
            .small-text {
              flex: 1;
              height: .25rem;
              width: 100%;
              max-width: 30%;
              border-radius: 5rem;
              background: #cccccc;
              margin-left: 1rem;
            }
          }
          .right {
            flex:1;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            .red-space {
              flex: 1;
              max-width: 1rem;
              height: 1rem;
              border-radius: .25rem;
              background: #D68CA6;
              margin-right: 2rem;
            }
            .black-space {
              flex: 1;
              max-width: 1rem;
              height: 1rem;
              border-radius: .25rem;
              background: #333333;
              margin-right: 2rem;
            }
          }
        }
      }
    }
  }
  .mock-main {
    flex: 4;
    .mock-text-header {
      height: 4rem;
      flex:1;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      .large-text {
        flex: 1;
        height: 3rem;
        width: 100%;
        max-width: 70%;
        border-radius: 5rem;
        background: #cccccc;
        margin-bottom: 1rem;
        margin-top: 1rem;
      }
    }
    .mock-text-editor {
      flex:1;
      flex-direction: column;
      display: flex;
      align-items: left;
      justify-content: center;
      background: #ffffff;
      margin: 2rem;
      margin-top: 0;
      border: 1px solid #e1e1e1;
      border-radius: 1rem;
      .paragraph {
        padding: 1rem;
        div {
          height: .75rem;
          width: 100%;
          border-radius: 5rem;
          background: #cccccc;
          margin-bottom: .4rem;
        }
      }
      .st-4 { max-width: 40%; }
      .st-5 { max-width: 50%; }
      .st-6 { max-width: 60%; }
      .st-7 { max-width: 70%; }
      .st-8 { max-width: 80%; }
      .st-9 { max-width: 85%; }
      .st-10 { max-width: 95%; }
      .st-11 { max-width: 98%; }
      .st-12 { max-width: 100%; }
      .lm { margin-left: 2rem; }
    }
  }
}

.shape {
  position: absolute;
  left: 0;
  right: 0;
  top: 100px;
}

.random-shape:after {
    font-family: FontAwesome;
    content: "\f005";
}

$circle-size: 100px;
$colors: #FFD700, #FFF8DC, #DB7093, #C2B7FE, #95A9FF;
$shapes: '\f005', '\f0c8', '\f1db', '\f096', '\f1d8', '\f1cb';
$shape-count: 50;

@for $i from 1 through $shape-count {
    $shape-size: random(10);
    $rotation: random(360);
    $speed: 40 + random(10);
    $color-key: random( length($colors) );
    $shape-color: nth( $colors, $color-key );
    $shape-key: random( length($shapes) );
    $shape-type: nth( $shapes, $shape-key );
    $text: random(10);

    @keyframes shape-#{$i} {
        0% {
            transform: translate3d(0,0,0) rotate(#{$rotation + 0}deg);
        }
        100% {
            transform: translate3d(0,0,0) rotate(#{$rotation + 360}deg);
        }
    }

    .shape-container--#{$i} {
        animation: shape-#{$i} #{$speed}s linear infinite;

        .random-shape:after {
            margin: #{$shape-size}rem;
            color: $shape-color;
            font-size: #{$shape-size * 0.2}rem;
            content: $shape-type;
        }
    }
}

</style>
