<template>
  <div class="not-found">
    <i class="el-icon-question"></i>
    <h1>{{$t('oops-text')}}!</h1>
    <p>{{$t('could-not-find-page')}}.</p>
  </div>
</template>

<style lang="scss">
  .not-found {
    line-height: initial;
    i {
      font-size: 3rem;
    }
  }
</style>
