<template>
  <div class="profile">
    <div class="info-container">
      <el-card class="box-card">
        <img v-if="profile.photoURL" v-bind:src="profile.photoURL" />
        <Jdenticon v-else :value="profile.id" size="large"/>
        <div class="field">
          <h2 class="display-name">{{profile.displayName}}</h2>
          <div class="join-time">
            <el-tooltip effect="dark" content="Created Date" placement="left">
              <v-icon width="14" height="14" name="regular/clock"/>
            </el-tooltip>
            <div>{{creationTime}}</div>
          </div>
          <div class="coins">
            <el-tooltip effect="dark" content="Coins" placement="left">
              <v-icon width="14" height="14" name="coins"/>
            </el-tooltip>
            <div>{{coinCount}}</div>
          </div>
          <div class="storyCount">{{$t('stories-text')}}: {{storyCount}}</div>
          <div class="entryCount">{{$t('entries-text')}}: {{entryCount}}</div>
        </div>
      </el-card>
      <el-card class="wide-card">
        <h1 v-if="user.id === profile.id">{{$t('general-text')}}</h1>
        <el-form :inline="true" label-width="135px" label-position="right" ref="ruleForm">
          <el-form-item for="theme" label="Theme" prop="">
            <el-select aria-haspopup="true" id="theme" v-model="theme" @change="setTheme" placeholder="Theme">
              <el-option
                v-for="themeName in themeOptions"
                :key="themeName.value"
                :label="themeName.label"
                :value="themeName.value"
                :aria-label="themeName.label + ' Menu Item'">
              </el-option>
            </el-select>
          </el-form-item>
        </el-form>
        <el-button v-if="user.id === profile.id" class="logout" type="info" plain @click.native="logout">{{$t('logout-text')}}</el-button>
        <h1>{{$t('achievements-text')}}</h1>
        <Achievements :coins="profile.coins" :stories="storyCount" :entries="entryCount" />
      </el-card>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import 'vue-awesome/icons/regular/clock'
import 'vue-awesome/icons/coins'
import Icon from 'vue-awesome/components/Icon'
import { mapState, mapActions } from 'vuex'

import Jdenticon from '@/components/Jdenticon.vue'
import Achievements from '@/components/Achievements.vue'
import { currentRouteContains } from '../router.js'

export default {
  name: 'Profile',
  components: {
    Jdenticon,
    Achievements,
    'v-icon': Icon
  },
  data () {
    return {
      loading: false,
      theme: '',
      themeOptions: [
        {
          value: '',
          label: 'Element'
        }, {
          value: 'kenshi',
          label: 'Kenshi'
        }
      ]
    }
  },
  methods: {
    ...mapActions('userData', ['logout', 'updateUser']),
    ...mapActions('profilesData', ['setProfile']),
    ...mapActions('config', ['setLoading']),
    async setTheme () {
      await this.setLoading(true)
      setTimeout(async () => {
        await this.updateUser({ theme: this.theme })
      }, 1000)
      setTimeout(async () => {
        await this.setLoading(false)
      }, 2000)
    }
  },
  computed: {
    ...mapState('userData', ['user']),
    ...mapState('profilesData', ['profile']),
    creationTime () {
      return moment(this.profile.created_at).format('YYYY-MM-DD')
    },
    entryCount () {
      return this.profile.entries ? this.profile.entries.length : 0
    },
    storyCount () {
      return this.profile.stories ? this.profile.stories.length : 0
    },
    coinCount () {
      return this.profile.coins ? this.profile.coins.length : 0
    }
  },
  async created () {
    this.theme = this.profile.theme
    if (currentRouteContains(['userProfile'], this.$route.name)) {
      await this.setProfile(this.$route.params.profileId)
    }
  }
}
</script>

<style lang="scss" scoped>
.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  .info-container /deep/ {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    padding-top: 3rem;
    position: relative;
    display: flex;
    .el-card {
      overflow: visible;
      width: 30%;
      background-color: var(--story-background-color);
      background-image: var(--story-background-image);
      box-shadow: var(--story-background-box-shadow);
      border-image: var(--story-border-image);
      border-width: var(--story-border-width);
      border-style: var(--story-border-style);
    }
    .wide-card {
      width: 60%;
      min-height: 15.2rem;
      margin-right: 1rem;
      margin-left: 1rem;
    }
    .identicon {
      position: relative;
      svg {
        border: var(--base-border);
        position: absolute;
        top: -4rem;
      }
    }
    .join-time, .coins {
      svg {
        display: inline-block;
        height: 22px;
        padding-right: .25rem;
      }
      > div {
        display: inline-block;
        vertical-align: top;
        line-height: 22px;
      }
    }
    .coins {
      svg {
        fill: var(--coin-color);
      }
    }
    .field {
      flex: 1;
      padding-top: 2rem;
      .display-name {
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      div {
        text-align: center;
      }
    }
    .logout {
      flex: 1;
    }
  }
}
</style>
