<template>
  <div class="signup">
    <h2>{{$t('sign-up-text')}}</h2>
    <el-form :model="ruleForm" label-position="right" label-width="135px" :rules="rules" ref="ruleForm" class="signup-form" @submit.prevent.stop>
      <el-form-item aria-label="Signup Email" for="email" label="Email" prop="email">
        <el-input id="email" v-model="ruleForm.email"></el-input>
      </el-form-item>
      <el-form-item aria-label="Signup Display Name" for="displayname" label="Display Name" prop="displayName">
        <el-input id="displayname" v-model="ruleForm.displayName"></el-input>
      </el-form-item>
      <el-form-item aria-label="Signup Password" for="password" label="Password" prop="password">
        <el-input id="password" v-model="ruleForm.password" type="password"></el-input>
        <password v-model="ruleForm.password" :strength-meter-only="true" class="pass-meter"/>
      </el-form-item>
      <el-form-item aria-label="Signup Confirm Password" for="confirmpassword" label="Confirm Password" prop="confirmPassword">
        <el-input id="confirmpassword" v-model="ruleForm.confirmPassword" type="password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button aria-label="Signup Button" type="primary large" @click="submitForm('ruleForm')">{{$t('create-account-text')}}</el-button>
      </el-form-item>
    </el-form>
    <span>
      {{$t('already-have-an-account-text')}}? <a href="/login" @click.prevent="goToView('/login')" @keypress.prevent.stop.enter="goToView('/login')" tabindex="0">{{$t('login-text')}}</a>
    </span>
  </div>
</template>

<script>
import Password from 'vue-password-strength-meter'
import { mapActions } from 'vuex'
import router from '../router'

export default {
  name: 'Signup',
  components: {
    Password
  },
  data () {
    return {
      ruleForm: {
        email: '',
        displayName: '',
        password: '',
        confirmPassword: ''
      },
      rules: {
        email: [
          { required: true, message: this.$t('email-input-placeholder'), trigger: 'blur' },
          { type: 'email', message: this.$t('email-input-validation'), trigger: 'blur' }
        ],
        displayName: [
          { required: true, message: this.$t('display-name-input-placeholder'), trigger: 'blur' }
        ],
        password: [
          { required: true, message: this.$t('password-input-placeholder'), trigger: 'blur' },
          { type: 'string', min: 6, message: this.$t('password-input-validation'), trigger: 'blur' }
        ],
        confirmPassword: [
          { required: true, message: this.$t('password-input-confirmation'), trigger: 'blur' },
          { validator: this.validatePassword, trigger: 'blur' }
        ]
      }
    }
  },
  methods: {
    ...mapActions('userData', [
      'signup'
    ]),
    validatePassword (rule, value, callback) {
      if (value !== this.ruleForm.password) {
        callback(new Error(this.$t('passwords-do-not-match')))
      } else {
        callback()
      }
    },
    async submitForm (formName) {
      this.$refs[formName].validate(async (valid) => {
        if (valid) {
          await this.signup({
            email: this.ruleForm.email,
            password: this.ruleForm.password,
            displayName: this.ruleForm.displayName
          })
          router.push('/stories')
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    goToView (path) {
      router.push(path)
    }
  }
}
</script>

<style lang="scss">
.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  h2 {
    flex: 1;
  }
  .signup-form {
    flex: 1;
    min-width: 25rem;
    .signup-button {
      text-align: left;
    }
  }
  span {
    flex: 1;
  }

  .Password__strength-meter {
    margin: 10px auto 5px!important;
  }
}
</style>
