<template>
  <div class="stories">
    <div class="stories-panel">
      <div class="panel-header" v-if="currentRouteContains(['stories'], this.$route.name)">
        <h3>{{$t('my-stories-text')}}</h3>
        <el-button aria-label="Create Story Button" plain type="primary" icon="el-icon-edit" @click.native="$root.$emit('create-new-story')">{{$t('create-story-text')}}</el-button>
      </div>
      <div v-else class="panel-header entries-header">
        <v-icon @click.native="returnToStories" name="regular/arrow-alt-circle-left" width="25" height="25"/>
        <h3>{{$t('entries-text')}}</h3>
        <el-badge class="entries-count" type="primary" :value="entries.length"/>
        <el-button aria-label="Create Entry Button" type="primary" plain icon="el-icon-document" @click.native="createEntry({ storyId: story.id, content: '', profileId: user.id})">{{$t('create-entry-text')}}</el-button>
      </div>
      <StoriesList v-if="currentRouteContains(['stories'], this.$route.name)" :sorted-stories="stories"/>
      <div v-else>
        <EntriesList :sorted-entries="entries"/>
      </div>
    </div>
    <div class="entry-panel" :class="{ empty: !combinedContent }">
      <div class="entry-holder" v-if="currentRouteContains(['story'], this.$route.name)">
        <TextEditor v-if="story && entries.length > 0 && entry.id" :id="entry.id" :content="entry.content" :words="entry.words" :sentences="entry.sentences"/>
        <div v-else-if="story && entries.length > 0 && !entry.id" class="message-holder">
          <div class="no-items">
            <h1>{{$t('select-an-entry-to-edit-text')}}.</h1>
          </div>
        </div>
        <div v-else class="message-holder">
          <div class="no-items">
            <h1>{{$t('no-entries-found')}}.</h1>
            <h1 class="create-entry-helper-link" @click="createEntry({ storyId: story.id, content: '', profileId: user.id})" @keypress.self.enter="createEntry({ storyId: story.id, content: '', profileId: user.id})" tabindex="0">{{$t('try-adding-one-text')}}!</h1>
          </div>
        </div>
      </div>
      <div v-if="currentRouteContains(['stories'], this.$route.name)">
        <h1 v-if="combinedContent" v-html="story.title"></h1>
        <el-card
          id="storyOutput"
          v-if="combinedContent"
          class="combined-entries"
          v-html="combinedContent">
        </el-card>
        <StoryControl v-if="displayStoryControls" :story-id="story.id" />
        <div class="message-holder" v-if="!combinedContent">
          <div class="no-items" v-if="stories.length === 0">
            <h1>{{$t('no-stories-found')}}.</h1>
            <h1 class="create-entry-helper-link" @click="$root.$emit('create-new-story')" @keypress.self.enter="$root.$emit('create-new-story')" tabindex="0">{{$t('try-creating-one-text')}}!</h1>
          </div>
          <div class="no-items" v-else>
            <FictionQuotes />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import FictionQuotes from '@/components/FictionQuotes.vue'
import StoriesList from '@/components/StoriesList.vue'
import EntriesList from '@/components/EntriesList.vue'
import TextEditor from '@/components/TextEditor.vue'
import StoryControl from '@/components/StoryControl.vue'
import 'vue-awesome/icons/regular/arrow-alt-circle-left'
import Icon from 'vue-awesome/components/Icon'
import router, { currentRouteContains } from '../router.js'
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  name: 'Stories',
  components: {
    StoriesList,
    EntriesList,
    TextEditor,
    StoryControl,
    FictionQuotes,
    'v-icon': Icon
  },
  computed: {
    ...mapGetters('storiesData', ['stories']),
    ...mapGetters('entriesData', ['entries', 'combinedContent']),
    ...mapState('userData', ['user']),
    ...mapState('storiesData', ['story']),
    ...mapState('entriesData', ['entry']),
    displayStoryControls () {
      if (this.combinedContent && this.story && this.story.created_by === this.user.id) {
        return true
      }
      return false
    }
  },
  methods: {
    ...mapActions('storiesData', ['getStories', 'getStory']),
    ...mapActions('entriesData', ['resetEntriesState', 'createEntry']),
    returnToStories () {
      router.go(-1)
      this.resetEntriesState()
    },
    currentRouteContains
  },
  async created () {
    if (currentRouteContains(['story'], this.$route.name) && !this.story.id) {
      await this.getStory(this.$route.params.storyId)
    }
  }
}
</script>

<style lang="scss" scoped>
  .stories {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    .stories-panel {
      flex: 2;
      width: 25rem;
      max-width: 25rem;
      background-color: var(--light-background);
      border: var(--base-border);
      margin: var(--stories-panel-margin);
      background-color: var(--stories-list-background-color);
      background-image: var(--stories-list-background-image);
      box-shadow: var(--stories-list-background-box-shadow);
      border-image: var(--stories-list-border-image);
      border-width: var(--stories-list-border-width);
      border-style: var(--stories-list-border-style);
      .stories-list /deep/ {
        padding-left: .7rem;
        padding-right: .7rem;
        padding-top: .7rem;
        max-height: var(--stories-list-max-height);
      }
    }
    .panel-header {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--stories-panel-header-background-color);
      background-image: var(--stories-panel-header-background-image);
      box-shadow: var(--stories-panel-header-background-box-shadow);
      border-image: var(--stories-panel-header-border-image);
      border-width: var(--stories-panel-header-border-width);
      border-style: var(--stories-panel-header-border-style);
      height: var(--stories-panel-header-height);
      width: var(--stories-panel-header-width);
      h3 {
        font-family: var(--font-family-header);
        font-weight: bold;
        flex: 1;
        text-align: center;
        color: var(--alt-font-color);
      }
      button {
        flex: 1;
        margin-left: 1rem;
        margin-right: 1rem;
        max-width: 10rem;
        color: var(--font-color);
        &:hover {
          color: var(--light-background);
        }
      }
    }
    .entries-header {
      h3 {
        text-align:left;
        padding-left: 1rem;
        flex:1;
        max-width: 4rem;
      }
      svg {
        font-weight: bold;
        flex: 1;
        max-width: 3rem;
        &:hover {
          cursor: pointer;
          color: #000000;
        }
      }
      .entries-count {
        // position: absolute;
        // left: 8.3rem;
        // top: 1.4rem;
        flex: 1;
        max-width: 4rem;
      }
    }
    .entry-panel {
      flex: 3;
      overflow: auto;
      position: relative;
      h1 {
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .entry-holder {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      &.empty {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2rem;
        text-align: center;
      }
    }
  }

  .message-holder {
    background-color: var(--message-holder-color);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .no-items {
      flex: 1;
      max-width: 38rem;
      h1 {
        font-size: 2.5rem;
        overflow: initial;
        white-space: initial;
        text-overflow: initial;
      }
    }
    .create-entry-helper-link {
      text-decoration: underline;
      text-decoration-style: wavy;
      text-decoration-color: var(--font-color-primary);
      &:hover {
        color: var(--font-color);
        cursor: pointer;
      }
    }
  }
</style>
