<template>
  <div class="users-container">
    <div class="search-holder">
      <el-form :inline="true" label-width="110px" label-position="right">
        <el-form-item for="filter" label="Filter">
          <el-select aria-haspopup="true" id="filter" v-model="filter" class="people-filter" clearable :placeholder="$t('filter-text')">
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
        <el-form-item for="search" label="People Search">
          <el-input id="search" class="people-search"
            :placeholder="$t('search-people-text')"
            v-model="search"
            @keyup.esc.native="onEscape"
            ></el-input>
        </el-form-item>
      </el-form>
    </div>
    <div class="users">
      <transition-group name="minis" class="minis" :style="{ '--total': filteredProfiles.length }">
        <MiniProfile
          v-for="profile in filteredProfiles"
          :key="profile.id"
          :profileId="profile.id"
          :profileName="profile.displayName"
          :coins="profile.coins"
          :stories="profile.stories"
          :entries="profile.entries"
        />
      </transition-group>
    </div>
  </div>
</template>

<script>
import MiniProfile from '@/components/MiniProfile.vue'
import { mapGetters } from 'vuex'

export default {
  name: 'Users',
  components: {
    MiniProfile
  },
  data () {
    return {
      search: '',
      filter: '',
      options: [
        {
          value: 'Coins',
          label: 'Coins'
        },
        {
          value: 'Stories',
          label: 'Stories'
        },
        {
          value: 'Entries',
          label: 'Entries'
        }
      ]
    }
  },
  methods: {
    onEscape: function () {
      this.search = ''
    }
  },
  computed: {
    ...mapGetters('profilesData', ['profiles']),
    filteredProfiles () {
      const searchedProfiles = this.profiles.filter(profile => profile.displayName.toLowerCase().indexOf(this.search.trim().toLowerCase()) > -1)
      if (this.filter === 'Coins') {
        return searchedProfiles.sort((first, second) => {
          const secondCoinLength = second.coins ? second.coins.length : 0
          const firstCoinLength = first.coins ? first.coins.length : 0
          return secondCoinLength - firstCoinLength
        })
      }
      if (this.filter === 'Stories') {
        return searchedProfiles.sort((first, second) => {
          const secondStoriesLength = second.stories ? second.stories.length : 0
          const firstStoriesLength = first.stories ? first.stories.length : 0
          return secondStoriesLength - firstStoriesLength
        })
      }
      if (this.filter === 'Entries') {
        return searchedProfiles.sort((first, second) => {
          const secondEntriesLength = second.entries ? second.entries.length : 0
          const firstEntriesLength = first.entries ? first.entries.length : 0
          return secondEntriesLength - firstEntriesLength
        })
      }
      return searchedProfiles
    }
  }
}
</script>

<style lang="scss" scoped>
.search-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  .people-filter {
    width: 6rem;
    margin-right: 1rem;
  }
  .people-search {
    flex: 1;
    max-width: 30rem;
  }
}
.users {
  .minis {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    .card {
      margin: 1rem;
      background-color: var(--story-background-color);
      background-image: var(--story-background-image);
      box-shadow: var(--story-background-box-shadow);
      border-image: var(--story-border-image);
      border-width: var(--story-border-width);
      border-style: var(--story-border-style);
    }
  }
}
.minis-enter, .minis-leave-to {
  opacity: 0;
  transform: translateX(50px) scaleY(0.5);
}
.minis-enter-to, .minis-leave {
  opacity: 1;
  transform: translateX(0) scaleY(1);
}
.minis-enter-active, .minis-leave-active {
  transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
  transition-property: opacity, transform;
  transition-delay: calc( 0.1s * (var(--total) - var(--i)) );
}
</style>
