<template>
  <div class="achievements">
    <div v-if="coins.length > 5" class="award one">
      <div class="hex-holder">
        <div class="hexagon turqoise"></div>
        <v-icon width="22" height="22" name="ribbon" />
      </div>
      <div class="text-holder">
        <el-badge value="+5" class="item">
          <h3 class="title">{{$t('junior-scrivenor-text')}}</h3>
        </el-badge>
        <div class="description">{{$t('junior-scrivenor-message')}}!</div>
      </div>
    </div>
    <div v-if="coins.length > 15" class="award two">
      <div class="hex-holder">
        <div class="hexagon orange"></div>
        <v-icon width="22" height="22" name="feather-alt" />
      </div>
      <div class="text-holder">
        <el-badge value="+15" class="item">
          <h3 class="title">{{$t('dank-scribe-text')}}</h3>
        </el-badge>
        <div class="description">{{$t('dank-scribe-message')}}.</div>
      </div>
    </div>
    <div v-if="coins.length < 5" class="message">
      <div>{{$t('no-achievements-message')}}!</div>
    </div>
  </div>
</template>

<script>
import 'vue-awesome/icons/ribbon'
import 'vue-awesome/icons/feather-alt'
import Icon from 'vue-awesome/components/Icon'

export default {
  name: 'Achievements',
  components: {
    'v-icon': Icon
  },
  props: {
    coins: {
      type: Array,
      default: () => []
    },
    stories: {
      type: Number,
      default: 0
    },
    entries: {
      type: Number,
      default: 0
    }
  }
}
</script>

<style lang="scss">

.hexagon {
  width: 100px;
  height: 55px;
  position: relative;
  transform: scale(.6,.6);
}
.hexagon:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}
.hexagon:after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
}

.turqoise {
  background: var(--badge-turqoise);
  &:after {
    border-top: 25px solid var(--badge-turqoise);
  }
  &:before {
    border-bottom: 25px solid var(--badge-turqoise);
  }
}

.orange {
  background: var(--badge-orange);
  &:after {
    border-top: 25px solid var(--badge-orange);
  }
  &:before {
    border-bottom: 25px solid var(--badge-orange);
  }
}

.message {
  padding: 1rem;
  padding-top: 0;
}

.award {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4.5rem;
  margin-top: 1rem;
  .hex-holder {
    flex: 1;
    position: relative;
    svg {
      position: absolute;
      left: 2.45rem;
      bottom: 1rem;
      fill: #ffffff;
    }
  }
  .text-holder {
    flex: 6;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    border-bottom: var(--base-border);
    .title {
      margin: 0;
      display: inline-block;
      width: auto;
      padding-right: 1rem;
    }
    .el-badge__content.is-fixed {
      position: relative;
      transform: none;
    }
  }
}
</style>
