<template>
  <el-dialog
    title="Delete Story"
    :visible.sync="showConfirmDelete"
    width="30%">
    <span>{{$t('sure-delete-confirm')}}?</span>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false">{{$t('cancel-text')}}</el-button>
      <el-button type="danger" @click="tryDeleteStory">{{$t('delete-text')}}</el-button>
    </span>
  </el-dialog>
</template>

<script>
import { mapActions } from 'vuex'
import router from '../router.js'

export default {
  name: 'ConfirmDeleteModal',
  data () {
    return {
      dialogVisible: false,
      storyId: null
    }
  },
  computed: {
    showConfirmDelete: {
      get: function () {
        return this.dialogVisible
      },
      set: function () {}
    }
  },
  methods: {
    ...mapActions('storiesData', ['deleteStory']),
    ...mapActions('userData', ['user']),
    async tryDeleteStory () {
      await this.deleteStory({ id: this.storyId, profileId: this.user.id })
      this.dialogVisible = false
      router.push({ name: 'stories' })
    }
  },
  created () {
    this.$root.$on('delete-story', (message) => {
      this.storyId = message.storyId
      this.dialogVisible = true
    })
  }
}
</script>

<style lang="scss">

</style>
