<template>
  <div aria-label="Entries List" class="entries-list">
    <transition-group name="entries" :style="{ '--total': sortedEntries.length }">
      <EntryListItem
        v-for="(entry, index) in sortedEntries"
        :key="entry.id"
        :id="entry.id"
        :style="{'--i': index}"
        :content="entry.content"
        :created="new Date(entry.created_at)"
      />
    </transition-group>
  </div>
</template>

<script>
import EntryListItem from '@/components/EntryListItem'

export default {
  name: 'EntriesList',
  components: {
    EntryListItem
  },
  props: {
    sortedEntries: {
      type: Array,
      default () {
        return []
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .entries-enter, .entries-leave-to {
    opacity: 0;
    transform: translateX(50px) scaleY(0.5);
  }
  .entries-enter-to, .entries-leave {
    opacity: 1;
    transform: translateX(0) scaleY(1);
  }
  .entries-enter-active, .entries-leave-active {
    transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
    transition-property: opacity, transform;
    transition-delay: calc( 0.1s * (var(--total) - var(--i)) );
  }

  .entries-list {
    max-height: calc(100vh - 7.8rem);
    overflow-y: auto;
    .story-list-item {
      margin-bottom: 0.5rem;
    }
  }
</style>
