<template>
  <div
    aria-label="Entry List Item"
    class="entry-list-item"
    @click="setEntry(id)"
    @keypress.self.enter="setEntry(id)"
    tabindex="0"
    :class="{ active: entry.id === this.$vnode.key }">
    <div class="item">
      <div aria-label="Entry Title" class="summary">{{contentSummary}}</div>
      <div class="time-holder">
        <DateTimeDisplay :time="created" :withIcon="false"/>
      </div>
      <el-button
        type="danger"
        @click="tryDeleteEntry = true"
        @keypress.self.enter="(tryDeleteEntry = true)"
        icon="el-icon-delete"
        class="delete-entry"
        tabindex="0"
        circle></el-button>
    </div>
    <transition name="el-zoom-in-bottom">
      <div v-show="tryDeleteEntry" class="transition-box deletion-panel">
        <div class="sub">Delete this Entry?</div>
        <div class="sub actions">
          <el-button plain @click="tryDeleteEntry = false">Cancel</el-button>
          <el-button type="danger" plain @click="deleteEntry({ id: id, story: story, profileId: user.uid })">Delete</el-button>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import DateTimeDisplay from '@/components/DateTimeDisplay.vue'
import { stripPlainTextFromHtml } from '../utils'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'EntryListItem',
  components: {
    DateTimeDisplay
  },
  props: {
    content: {
      type: String,
      required: true
    },
    created: {
      type: Date,
      required: true
    },
    id: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      tryDeleteEntry: false
    }
  },
  computed: {
    ...mapState('entriesData', ['entry']),
    ...mapState('storiesData', ['story']),
    ...mapState('userData', ['user']),
    contentSummary () {
      if (this.content.length > 30) {
        const plainContent = stripPlainTextFromHtml(this.content)
        const summary = plainContent.substring(0, 30)
        return summary + '...'
      } else {
        return this.content
      }
    }
  },
  methods: {
    ...mapActions('entriesData', ['setEntry', 'deleteEntry'])
  }
}
</script>

<style lang="scss">

.entry-list-item {
  padding: 2rem 0 2rem 0;
  border-bottom: var(--base-border);
  color: var(--alt-font-color);
  position: relative;
  margin-top: 2px;
  margin-left: 3px;
  margin-bottom: 3px;
  margin-right: 3px;
  &.active {
    background: var(--entry-active-background);
    color: var(--entry-active-font);
    .delete-entry {
      display: inherit;
      position: absolute;
      right: 1rem;
      top: -.5rem;
      width: 2rem;
      height: 2rem;
      &:focus {
        outline: auto 5px -webkit-focus-ring-color;
      }
      i {
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        top: 8px;
      }
    }
    .time-holder {
      color: var(--entry-active-font)!important;
    }
  }
  &:hover {
    cursor: pointer;
    background: var(--entry-hover-background);
    color: var(--entry-active-font);
  }
  .delete-entry {
    display: none;
  }

  .deletion-panel {
    background: var(--light-background);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &:hover {
      color: var(--font-color);
    }
    .sub {
      flex: 1;
      width: 100%;
      text-align: center;
      max-height: 2.4rem;
    }
  }
  .item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    .summary {
      flex: 1;
      text-align: left;
      padding-left: 1rem;
    }
    .time-holder {
      flex: 1;
      max-width: 6.8rem;
      min-width: 6.8rem;
      font-style: italic;
      font-size: .6rem;
      height: 1rem;
      line-height: 2rem;
      padding-left: 2rem;
      color: var(--alt-font-color);
    }
    > .date-time-display {
      position: absolute;
      top: -.4rem;
      right: 0;
    }
  }
}
</style>
