<template>
    <div class="fiction-quote">{{randomQuote}}</div>
</template>

<script>
export default {
  name: 'FictionQuotes',
  data () {
    return {
      quotes: [
        `The Pen is Mightier than the Sword. - Edward Bulwer-Lytton`,
        `Build a man a fire, and he'll be warm for a day. Set a man on fire, and he'll be warm for the rest of his life. - Terry Pratchett`,
        `I’m getting my ass kicked by tiny faeries! - Jim Butcher`,
        `A reader lives a thousand lives before he dies, the man who never reads lives only one. - George R. R. Martin`,
        `Death is lighter than a feather. Duty, heavier than a mountain. - Robert Jordon`,
        `The man in black fled across the desert, and the gunslinger followed. - Stephen King`,
        `Time is an illusion. Lunchtime doubly so. ― Douglas Adams`,
        `Nothing travels faster than the speed of light, with the possible exception of bad news, which obeys its own special laws. ― Douglas Adams`,
        `How inappropriate to call this planet "Earth," when it is clearly "Ocean". ― Arthur C. Clarke`,
        `We all know interspecies romance is weird. ― Tim Burton`,
        `Anything you dream is fiction, and anything you accomplish is science, the whole history of mankind is nothing but science fiction. ― Ray Bradbury`,
        `He who controls the spice controls the universe. ― Frank Herbert`,
        `The gods do not protect fools. Fools are protected by more capable fools. ― Larry Niven`,
        `There is no end to what a living world will demand of you. ― Octavia E. Butler`,
        `Any planet is 'Earth' to those that live on it. ― Isaac Asimov`
      ]
    }
  },
  computed: {
    randomQuote () {
      const randomNumber = Math.floor(Math.random() * this.quotes.length)
      return this.quotes[randomNumber]
    }
  }
}
</script>

<style lang="scss" scoped>
  .fiction-quote {
    font-size: 2.5rem;
  }
</style>
