<template>
  <el-card class="card" shadow="hover" @click.native="goToProfile" @keypress.native.enter="goToProfile" tabindex="0">
    <Jdenticon :value="profileId" size="medium"/>
    <div class="text-container">
      <div class="name" :title="profileName">{{profileName}}</div>
      <div class="coins">
        <el-tooltip effect="dark" content="Coins" placement="left">
          <v-icon width="14" height="14" name="coins"/>
        </el-tooltip>
        <div>{{coinCount}}</div>
      </div>
      <div class="storyCount">{{$t('stories-text')}}: {{storyCount}}</div>
      <div class="entryCount">{{$t('entries-text')}}: {{entryCount}}</div>
    </div>
  </el-card>
</template>

<script>
import 'vue-awesome/icons/coins'
import Icon from 'vue-awesome/components/Icon'
import { mapState, mapActions } from 'vuex'

import Jdenticon from '@/components/Jdenticon.vue'
import router from '../router.js'

export default {
  name: 'MiniProfile',
  components: {
    Jdenticon,
    'v-icon': Icon
  },
  props: {
    profileId: {
      type: String,
      required: true
    },
    profileName: {
      type: String,
      required: true
    },
    coins: {
      type: Array,
      default: () => []
    },
    stories: {
      type: Array,
      default: () => []
    },
    entries: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    ...mapActions('userData', ['logout']),
    ...mapActions('profilesData', ['setProfile']),
    async goToProfile () {
      await this.setProfile(this.profileId)
      router.push({ name: 'profile', params: { profileId: this.profileId } })
    }
  },
  computed: {
    ...mapState('profilesData', ['profile']),
    entryCount () {
      return this.entries ? this.entries.length : 0
    },
    storyCount () {
      return this.stories ? this.stories.length : 0
    },
    coinCount () {
      return this.coins ? this.coins.length : 0
    }
  }
}
</script>

<style lang="scss" scoped>
.card {
  &:hover {
    cursor: pointer;
  }
}
.card /deep/{
    width: 18rem;
    height: 8rem;
    .el-card__body {
      display: flex;
      align-items:center;
      justify-content:center;
      height: 100%;
      box-sizing: border-box;
      padding: .5rem;
      .identicon {
        flex: 1;
        height: 100%;
        position: relative;
        svg {
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      .text-container {
        flex: 3;
        flex-direction: column;
        height: 100%;
        display: flex;
        .name {
          flex: 2;
          font-size: 1.4rem;
          max-height: 2rem;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow-wrap: break-word;
          max-width: 12rem;
        }
        .coins {
          flex: 1;
          max-height: 1.4rem;
          position: relative;
          svg {
            display: inline-block;
            width: auto;
            fill: var(--coin-color);
            position: absolute;
            top: .2rem;
          }
          div {
            display: inline-block;
            width: auto;
            padding-left: 1.5rem;
          }
        }
        .storyCount {
          flex:1;
          max-height: 1.1rem;
        }
        .entryCount {
          flex: 1;
          max-height: 1.1rem;
        }
      }
    }
}
</style>
