<template>
  <el-menu
    :default-active="activeIndex"
    class="el-menu-demo"
    mode="horizontal"
    aria-label="Role Fiction Navigation">
    <el-menu-item index="1">
      <a href="/" @click.prevent="goToView('/')" @keydown.enter="goToView('/')">
        <img src="../assets/roleFictionLogo.svg" title="Role Fiction Logo" class="logo" />
      </a>
    </el-menu-item>
    <el-menu-item aria-label="Explore Nav Item" v-if="loggedIn" index="2">
      <a href="/explore" @click.prevent="goToView('/explore')" @keydown.enter="goToView('/explore')">
        {{$t('explore-text')}}
      </a>
    </el-menu-item>
    <el-menu-item aria-label="Stories Nav Item" v-if="loggedIn" index="3">
      <a href="/stories" @click.prevent="goToView('/stories')" @keydown.enter="goToView('/stories')">
        {{$t('stories-text')}}
      </a>
    </el-menu-item>
    <el-menu-item aria-label="People Nav Item" v-if="loggedIn" index="4">
      <a href="/users" @click.prevent="goToView('/users')" @keydown.enter="goToView('/users')">
        {{$t('people-text')}}
      </a>
    </el-menu-item>
    <div v-if="currentRouteContains(['story'], this.$route.name)" class="story-entry-title">
      <div v-if="!storyEditing" class="title-read-only">
        <h2 aria-label="Story Title">{{story.title}}</h2>
        <div class="story-control">
          <StoryControl v-if="story && story.id" :story-id="story.id" />
        </div>
      </div>
      <div v-else class="title-edit-mode">
        <el-input :placeholder="$t('enter-story-title-text')" v-model="story.title">
          <el-button slot="append" icon="el-icon-check" @click="handleStoryUpdate(story)"></el-button>
        </el-input>
      </div>
    </div>
    <SaveIndicator v-if="currentRouteContains(['story'], this.$route.name)" class="save-indicator"/>
    <div class="login-status-container">
      <el-form label-position="top" label-width="130px">
        <el-form-item for="language" label="Language">
          <el-select id="language" aria-haspopup="true" v-model="locale" @change="setLocale" placeholder="Language">
            <el-option
              v-for="item in languageOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value">
            </el-option>
          </el-select>
        </el-form-item>
      </el-form>
      <el-dropdown aria-label="User Photo Dropdown Menu" aria-haspopup="true" trigger="click" v-if="loggedIn" class="user-photo">
        <Jdenticon :value="profileUid" size="small" :title="profileName" :tip-placement="null"/>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item aria-label="Profile Menu Item" @click.native="goToProfile">{{$t('profile-text')}}</el-dropdown-item>
          <el-dropdown-item aria-label="Logout Menu Item" @click.native="logout">{{$t('logout-text')}}</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
      <div v-else class="signin-container">
        <a aria-label="Signup Link" href="/signup" @click.prevent="goToView('/signup')" @keydown.enter="goToView('/signup')" class="sign-up-link">
          {{$t('sign-up-text')}}
        </a>
        <el-button aria-label="Login Button" type="primary" plain @click="goToView('/login')">
          {{$t('login-text')}}
        </el-button>
      </div>
    </div>
  </el-menu>
</template>

<script>
import Jdenticon from '@/components/Jdenticon.vue'
import SaveIndicator from '@/components/SaveIndicator.vue'
import StoryControl from '@/components/StoryControl.vue'
import router, { currentRouteContains } from '../router.js'
import { mapActions, mapState } from 'vuex'

export default {
  name: 'Navigation',
  components: {
    Jdenticon,
    SaveIndicator,
    StoryControl
  },
  data () {
    return {
      activeIndex: '1',
      locale: 'en',
      languageOptions: [{
        value: 'en',
        label: 'English'
      }, {
        value: 'de',
        label: 'Deutsch'
      }, {
        value: 'fr',
        label: 'Français'
      }, {
        value: 'cs',
        label: 'Čeština'
      }, {
        value: 'sp',
        label: 'Español'
      }, {
        value: 'ja',
        label: '日本語'
      }]
    }
  },
  computed: {
    ...mapState('userData', [
      'user',
      'loggedIn'
    ]),
    ...mapState('storiesData', [
      'story',
      'storyEditing'
    ]),
    profileUid: function () {
      return this.user.id
    },
    profileName: function () {
      return this.user.displayName
    }
  },
  methods: {
    ...mapActions('userData', ['login', 'logout']),
    ...mapActions('profilesData', ['setProfile']),
    ...mapActions('storiesData', ['updateStory', 'changeStoryEditing']),
    async handleStoryUpdate (story) {
      await this.updateStory(story)
      this.changeStoryEditing(false)
    },
    setLocale () {
      this.$i18n.set(this.locale)
    },
    currentRouteContains,
    async goToProfile () {
      await this.setProfile(this.user.id)
      router.push({ name: 'userProfile', params: { profileId: this.user.id } })
    },
    goToView (path) {
      router.push(path)
    }
  }
}
</script>

<style lang="scss">
  .el-form {
    .el-select {
      width: 100%;
    }
  }
  .logo {
    background: #BDD6FB;
    border-radius: .5rem;
    width: 30px;
    height: 30px;
  }
  li.el-menu-item {
    padding: 0;
    margin: 0;
    font-family: var(--font-family-header);
    color: var(--alt-font-color);
    &:hover {
      color: var(--alt-font-color)!important;
      background-color: var(--navigation-background-color)!important;
    }
    a {
      height: 100%;
      display: block;
      width: auto;
      padding: 0 20px;
      font-size: 1rem;
      text-decoration: none;
      &:hover {
        cursor: pointer;
      }
    }
    &.is-active {
      border-bottom: var(--navigation-border-active)!important;
    }
  }
  button.save-indicator.el-button {
    float: right;
    margin-right: 15rem !important;
    margin-top: 0.6rem !important;
    z-index: 1;
    position: relative;
    padding-right: 1rem;
    &:before {
      background: none!important;
      border: transparent!important;
    }
  }
  .add-story {
    float: right;
    margin-right: 4rem;
    z-index: 1;
    position: relative;
  }
  .story-entry-title {
    position: absolute;
    width: calc(100% - 48rem);
    left: 25.08rem;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-left: var(--base-border);
    padding-left: 2rem;
    .title-read-only {
      flex: 1;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 1rem;
      h2 {
        flex: 1;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-left: 1rem;
        color: var(--alt-font-color);
      }
      .story-control {
        position: absolute;
        left: 0;
        top: 0;
        color: var(--font-color-primary);
        .edit-story-link {
          top: .6rem;
          right: -3.2rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
    .title-edit-mode {
      flex: 1;
      text-align: left;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      padding-left: 1rem;
      .el-input-group__append {
        z-index: 0;
        &:hover {
          background: var(--font-color-primary);
          color: #ffffff;
          cursor: pointer;
          i {
            color: #ffffff;
          }
        }
        i {
          position: absolute;
          left: .8rem;
          top: .7rem;
          color: var(--font-color-primary);
          font-size: 1rem;
          z-index: 2;
        }
      }
    }
  }
  .login-status-container {
    position: absolute;
    width: 19rem;
    right: 1rem;
    top: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 10;
    .el-form-item__content {
      transform: scale(0.75, 0.75)
    }
    .el-select {
      display: inline-block;
      position: relative;
      max-width: 7rem;
      margin-right: 1rem;
    }
    .el-form-item {
      margin-bottom: .4rem;
    }
    label {
      padding-bottom: 0 !important;
      line-height: 1rem;
      font-size: .75rem;
      padding-left: 1rem!important;
      padding-top: .5rem!important;
    }
    &:focus {
      outline: 0;
    }
    .user-photo {
      height: 60px;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 1rem;
      margin-right: .5rem;
      &:hover {
        cursor: pointer;
      }
      img {
        flex: 1;
        max-width: 2rem;
        max-height: 2rem;
        border-radius: 50%;
      }
    }
    .signin-container {
      flex: 1;
      display: inline-block;
      width: auto;
      button {
        color: var(--font-color);
        a {
          color: var(--font-color-primary);
          text-decoration: none;
          &:hover {
            cursor: pointer;
            color: #ffffff;
          }
        }
      }
      .sign-up-link {
        margin-right: 1rem;
        text-decoration: none;
        text-align: center;
      }
    }
  }
</style>
