<template>
  <el-tooltip class="item" effect="dark" :content="indicatorText" placement="bottom">
    <el-button v-if="changeStatus === 'saving'" type="info" :loading="true" plain>{{$t('saving-text')}}...</el-button>
    <el-button v-else type="success" icon="el-icon-check" plain>{{$t('saved-text')}}</el-button>
  </el-tooltip>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'SaveIndivator',
  computed: {
    ...mapState('entriesData', ['changeStatus']),
    indicatorText () {
      if (this.changeStatus === 'saving') {
        return this.$t('entry-is-being-saved-text')
      }
      return this.$t('entry-has-been-saved-text')
    }
  }
}
</script>

<style lang="scss">

.save-indicator {
    &.el-button--success {
      border: transparent!important;
      color: var(--font-color)!important;
      &:hover {
        color: var(--font-color-success)!important;
      }
    }
    &.el-button--info {
      border: transparent!important;
      color: var(--font-color)!important;
      &:hover {
        color: var(--font-color-success)!important;
      }
    }
}
</style>
