<template>
  <el-dropdown
      trigger="click"
      class="edit-story-link"
      aria-haspopup="true">
    <span class="el-dropdown-link">
        <el-button icon="el-icon-more" circle></el-button>
    </span>
    <el-dropdown-menu slot="dropdown">
      <el-dropdown-item @click.native="tryEditStory">{{$t('edit-story-text')}}</el-dropdown-item>
      <el-dropdown-item @click.native="exportPdf">{{$t('export-as-pdf-text')}}</el-dropdown-item>
      <el-dropdown-item @click.native="exportHtml">{{$t('export-as-html-text')}}</el-dropdown-item>
      <el-dropdown-item @click.native="$root.$emit('delete-story', { storyId })">{{$t('delete-story-text')}}</el-dropdown-item>
    </el-dropdown-menu>
  </el-dropdown>
</template>

<script>
import JsPDF from 'jspdf'
import router, { currentRouteContains } from '../router.js'
import { mapActions, mapState, mapGetters } from 'vuex'

export default {
  name: 'StoryControl',
  props: {
    storyId: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapState('storiesData', ['story']),
    ...mapGetters('entriesData', ['combinedContent'])
  },
  methods: {
    ...mapActions('storiesData', ['changeStoryEditing']),
    async goToStory () {
      router.push({ name: 'story', params: { storyId: this.storyId } })
    },
    async tryEditStory () {
      if (currentRouteContains(['stories', 'explore'], this.$route.name)) {
        router.push({ name: 'story', params: { storyId: this.storyId } })
      } else {
        this.changeStoryEditing(true)
      }
    },
    download (filename, text) {
      var element = document.createElement('a')
      element.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text))
      element.setAttribute('download', filename)
      element.style.display = 'none'
      document.body.appendChild(element)
      element.click()
      document.body.removeChild(element)
    },
    async exportHtml () {
      this.download(this.story.title + '.html', this.combinedContent)
    },
    async exportPdf () {
      const pdf = new JsPDF('p', 'pt', 'letter')
      const margins = {
        top: 80,
        bottom: 60,
        left: 40,
        width: 522
      }
      pdf.fromHTML(
        this.combinedContent,
        margins.left, // x coord
        margins.top, { // y coord
          'width': margins.width // max width of content on PDF
        },
        (dispose) => {
          // dispose: object with X, Y of the last line add to the PDF
          //          this allow the insertion of new lines after html
          pdf.text(this.story.title, pdf.internal.pageSize.getWidth() / 2, 50, null, null, 'center')
          pdf.save(this.story.title + '.pdf')
        }, margins
      )
    }
  }
}
</script>

<style lang="scss">
  .edit-story-link {
    position: absolute!important;
    top: .7rem;
    right: 3rem;
  }
</style>
