<template>
  <div class="stories-list">
    <transition-group name="stories" :style="{ '--total': sortedStories.length }">
      <StoryListItem
        v-for="(story, index) in watchedStories"
        :key="story.id"
        :style="{'--i': index}"
        :title="story.title"
        :isPrivate="story.private"
        :entryCount="entriesLength(story)"
        :likes="storyLikes(story)"
        :created="new Date(story.created_at)"
        :authorId="story.created_by"
        :authorName="story.created_by_name"
      />
    </transition-group>
  </div>
</template>

<script>
import StoryListItem from '@/components/StoryListItem'

export default {
  name: 'StoriesList',
  components: {
    StoryListItem
  },
  props: {
    sortedStories: {
      type: Array,
      default () {
        return []
      }
    }
  },
  computed: {
    watchedStories () {
      return Object.values(this.sortedStories).sort((first, second) => second.created_at - first.created_at)
    }
  },
  methods: {
    storyLikes (story) {
      if (story.likes === undefined) {
        return []
      }
      return story.likes
    },
    entriesLength (story) {
      if (!story.entries) {
        return 0
      } else {
        return story.entries.length
      }
    }
  }
}
</script>

<style lang="scss" scoped>
  .stories-enter, .stories-leave-to {
    opacity: 0;
    transform: translateX(50px) scaleY(0.5);
  }
  .stories-enter-to, .stories-leave {
    opacity: 1;
    transform: translateX(0) scaleY(1);
  }
  .stories-enter-active, .stories-leave-active {
    transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95);
    transition-property: opacity, transform;
    transition-delay: calc( 0.1s * (var(--total) - var(--i)) );
  }

  .stories-list {
    max-height: calc(100vh - 3.7rem);
    overflow-y: auto;
    .story-list-item {
      margin-bottom: 0.5rem;
    }
  }
</style>
