<template>
  <el-card
    :aria-label="'Story Title ' + title"
    class="box-card story-list-item"
    @click.native="goToStory"
    @keypress.self.native.enter="goToStory"
    tabindex="0"
    shadow="hover">
    <div slot="header" class="header">
      <span class="story-title" :title="title">{{title}}</span>
      <DateTimeDisplay :time="created" class="time-holder"/>
      <PrivacyStatus :is-private="isPrivate"/>
    </div>
    <div class="text item">
      <vue-star v-if="currentRouteContains(['explore'], this.$route.name)" animate="" :class="userHasLiked ? 'has-liked' : ''" color="">
        <a
          :aria-label="'Like ' + title"
          slot="icon"
          @click="handleLike"
          class="like-link"
          @keypress.self.enter="handleLike"
          tabindex="0">
          <el-tooltip v-if="usersWhoLiked" effect="dark" placement="left" popper-class="like-popper">
            <div slot="content" v-html="usersWhoLiked"></div>
            <v-icon name="heart"/>
          </el-tooltip>
          <v-icon v-else name="heart"/>
          <span aria-label="Like Count" v-if="usersWhoLiked">{{numberLikes}}</span>
        </a>
      </vue-star>
      <Jdenticon :value="authorId" size="small" :title="authorName" @click.native="goToProfile" @keypress.native.enter="goToProfile" tabindex="0"/>
      <span class="entry-count">{{entryCount + ' entries'}}</span>
    </div>
  </el-card>
</template>

<script>
import VueStar from 'vue-star'
import { mapActions, mapState, mapGetters } from 'vuex'
import 'vue-awesome/icons/heart'
import Icon from 'vue-awesome/components/Icon'

import DateTimeDisplay from '@/components/DateTimeDisplay.vue'
import PrivacyStatus from '@/components/PrivacyStatus.vue'
import Jdenticon from '@/components/Jdenticon.vue'
import router, { currentRouteContains } from '../router.js'

export default {
  name: 'StoryListItem',
  components: {
    PrivacyStatus,
    DateTimeDisplay,
    Jdenticon,
    VueStar,
    'v-icon': Icon
  },
  props: {
    title: {
      type: String,
      required: true
    },
    isPrivate: {
      type: Boolean,
      required: true
    },
    entryCount: {
      type: Number,
      default: 0
    },
    likes: {
      type: Array,
      default: () => []
    },
    created: {
      type: Date,
      required: true
    },
    authorId: {
      type: String,
      required: true
    },
    authorName: {
      type: String,
      required: true
    }
  },
  computed: {
    ...mapState('userData', ['user']),
    ...mapGetters('profilesData', ['profiles']),
    userHasLiked () {
      return this.likes.length > 0 && this.likes.find(userLikeId => userLikeId === this.user.id)
    },
    numberLikes () {
      return this.likes.length
    },
    usersWhoLiked () {
      const profilesWhoLiked = this.likes.map(likeUser => {
        return this.profiles.find(profile => profile.id === likeUser)
      })
      const likeString = profilesWhoLiked.map(profile => {
        return `<el-button type="text" class="like-tag" @click="console.log('get tooltip profile click event working!')">${profile.displayName}</el-button>`
      }).join('\n')

      return likeString
    }
  },
  methods: {
    ...mapActions('entriesData', ['getEntries', 'resetEntriesState']),
    ...mapActions('publicStoriesData', ['likeStory', 'unLikeStory']),
    ...mapActions('storiesData', ['getStory']),
    ...mapActions('profilesData', ['setProfile', 'addCoin', 'removeCoin']),
    async goToStory () {
      this.resetEntriesState()
      await this.getEntries(this.$vnode.key)
      await this.getStory({ storyId: this.$vnode.key, moduleName: this.getModuleName() })
      if (this.entryCount === 0) {
        router.push({ name: 'story', params: { storyId: this.$vnode.key } })
      }
    },
    getModuleName () {
      if (currentRouteContains(['explore'], this.$route.name)) {
        return 'publicStoriesData'
      }
      return 'storiesData'
    },
    async goToProfile () {
      await this.setProfile(this.authorId)
      router.push({ name: 'profile', params: { profileId: this.authorId } })
    },
    async handleLike () {
      if (this.userHasLiked) {
        await this.unLikeStory({ storyId: this.$vnode.key, like: this.user.id })
        await this.removeCoin({ authorId: this.authorId, currentUserId: this.user.id })
      } else {
        await this.likeStory({ storyId: this.$vnode.key, like: this.user.id })
        await this.addCoin({ authorId: this.authorId, currentUserId: this.user.id })
      }
    },
    currentRouteContains
  }
}
</script>

<style lang="scss" scoped>
.box-card {
  background-color: var(--story-background-color);
  background-image: var(--story-background-image);
  box-shadow: var(--story-background-box-shadow);
  border-image: var(--story-border-image);
  border-width: var(--story-border-width);
  border-style: var(--story-border-style);
}
.story-list-item /deep/ {
  .el-card__header {
    padding-top: .75rem;
    padding-bottom: 1.5rem;
  }
}

.story-list-item {
  &:hover {
    cursor: pointer;
  }
  .header {
    position: relative;
    display: flex;
    .story-title {
      color: var(--alt-font-color);
      flex: 1;
      text-align: left;
      padding-right: 5rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .date-time-display /deep/ {
      font-size: .1rem;
      width: 7rem;
      position: absolute;
      bottom: -1rem;
      svg {
        width: .5rem;
        height: .5rem;
      }
    }
    .privacy-status {
      position: absolute;
      right: 0;
      span {
        color: var(--font-color);
      }
    }
  }

  .item /deep/ {
    position: relative;
    display: flex;
    .identicon {
      position: absolute;
      left: -.5rem;
      bottom: -.6rem;
    }
    .entry-count {
      flex: 1;
      font-size: .9em;
      text-align: left;
      font-style: italic;
      padding-left: 2.5rem;
    }
    .VueStar {
      right: -1.25rem;
      top: -2.5rem;
    }
    .has-liked {
      .VueStar__icon {
        color: #F56C6C;
      }
    }
    svg.el-tooltip.fa-icon {
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      top: 0;
      bottom: 0;
    }
    .like-link {
      span {
        font-size: .75rem;
        padding-left: 2.5rem;
        color: initial;
      }
    }
  }
}
</style>
