<template>
  <div class="text-editor">
    <quill-editor aria-label="Text Editor"
                  :content="content"
                  :options="editorOptions"
                  @change="setChangeStatus('saving'); debouncedSave($event)"
                  @keydown.native.escape="$event.target.blur()">
    </quill-editor>
    <div class="counter-holder">
      <span>{{$t('sentences-text')}}:{{sentenceCount}}  </span><span>{{$t('words-text')}}:{{wordCount}}</span>
    </div>
    <vue-countable
        :text="text"
        :strip-tags="true"
        :elementId="'vueCounter'"
        @change="countChanged"
    ></vue-countable>
  </div>
</template>

<script>
import 'quill/dist/quill.core.css'
import 'quill/dist/quill.snow.css'
import 'quill/dist/quill.bubble.css'

import { quillEditor } from 'vue-quill-editor'
import { mapActions, mapState } from 'vuex'
import debounce from 'lodash/debounce'
import VueCountable from 'vue-countable'

export default {
  name: 'TextEditor',
  components: {
    quillEditor,
    VueCountable
  },
  props: {
    content: {
      type: String,
      required: true
    },
    id: {
      type: String,
      required: true
    },
    words: {
      type: Number,
      required: false
    },
    sentences: {
      type: Number,
      required: false
    }
  },
  data () {
    return {
      text: this.content,
      sentenceCount: this.words,
      wordCount: this.sentences,
      editorOptions: {
        modules: {
          toolbar: [
            ['bold', 'italic', 'underline', 'strike', 'blockquote', 'code-block'],
            [{ 'header': 1 }, { 'header': 2 }],
            [{ 'list': 'ordered' }, { 'list': 'bullet' }, { 'indent': '-1' }, { 'indent': '+1' }, { 'direction': 'rtl' }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'align': [] }],
            [{ 'size': ['small', false, 'large', 'huge'] }, { 'header': [1, 2, 3, 4, 5, 6, false] }],
            ['clean']
          ]
        }
      }
    }
  },
  computed: {
    ...mapState('storiesData', ['story']),
    hasContent () {
      return this.content
    }
  },
  methods: {
    ...mapActions('entriesData', [
      'saveEntry',
      'setChangeStatus'
    ]),
    debouncedSave: debounce(async function ({ quill, html, text }) {
      this.text = text
      await this.saveEntry({ storyId: this.story.id, id: this.id, content: html, words: this.wordCount, sentences: this.sentenceCount })
      this.setChangeStatus('saved')
    }, 400),
    countChanged (event) {
      this.wordCount = event.words
      this.sentenceCount = event.sentences
    }
  }
}
</script>

<style lang="scss">
  .quill-editor {
    .ql-snow .ql-stroke {
      stroke: var(--font-color);
    }

    .ql-snow .ql-fill {
      fill: var(--font-color);
    }

    .ql-snow .ql-picker {
      color: var(--font-color);
    }

    .ql-toolbar {
      // background: #ecf5ff;
      background: var(--base-button-color);
      // border-color: #b3d8ff;
      border-color: var(--base-button-border-color);
      display: flex;
      justify-content: left;
      align-items: center;
    }
    div.ql-container {
      min-height: calc(100vh - 6.45rem);
      background: var(--light-background);
      border: var(--editor-border);
      .ql-editor {
        font-family: var(--font-family);
        height: calc(100vh - 6.45rem);
        color: var(--editor-color);
        background-color: var(--editor-background);
        background-image: var(--editor-background-image);
        box-shadow: var(--editor-box-shadow);
      }
    }
  }

  .counter-holder {
    position: absolute;
    top: .85rem;
    right: 1rem;
    font-size: .75rem;
    color: var(--font-color);
  }

</style>
