@import "themes/kenshi/kenshi.scss";

@font-face {
  font-family: 'ColorTube';
  src: url("~@/themes/root/fonts/ColorTube-Regular.ttf") format("truetype"),
      url("~@/themes/root/fonts/ColorTube-Regular.otf") format("opentype");
}

:root {
  
  --light-background: #ffffff;
  --dark-background: #f0f0f0;
  --badge-turqoise: #48D1CC;
  --badge-orange: #FF7F50;
  --coin-color: #E6B63E;
  
  --font-color: #2c3e50;
  --alt-font-color: #2c3e50;
  --font-color-active: #42b983;
  --font-color-primary: #409EFF;
  --font-color-error: #f56c6c;
  --font-color-success: #67c23a;
  --font-family: 'Avenir', Helvetica, Arial, sans-serif;
  --font-family-header: initial;
  
  --base-background: #e9eef3;
  --base-input-background: #ffffff;
  --base-button-color: #ecf5ff;
  --base-button-border-color: #dcdfe6;
  --base-button-hover-color: var(--font-color-primary);
  --base-background-image: initial;
  --base-background-box-shadow: initial;
  --base-border-color: #e1e1e1;
  --base-border: 1px solid var(--base-border-color);
  
  --stories-panel-margin: initial;
  --message-holder-color: #c7c7c7;
  
  --stories-list-background-color: var(--light-background);
  --stories-list-background-image: var(--light-background);
  --stories-list-background-box-shadow: none;
  --stories-list-border-image: var(--base-border-color);
  --stories-list-border-width: 1px;
  --stories-list-border-style: solid;
  --stories-list-max-height: calc(100% - 4.7rem);
  
  --stories-panel-header-background-color: var(--dark-background);
  --stories-panel-header-background-image: var(--dark-background);
  --stories-panel-header-background-box-shadow: none;
  --stories-panel-header-border-image: none;
  --stories-panel-header-border-width: none;
  --stories-panel-header-border-style: none;
  --stories-panel-header-height: 4rem;
  --stories-panel-header-width: 100%;
  
  --navigation-background-color: var(--light-background);
  --navigation-background-image: var(--light-background);
  --navigation-background-box-shadow: none;
  --navigation-border-image: none;
  --navigation-border-width: none;
  --navigation-border-style: none;
  --navigation-border-color: initial;
  --navigation-border-active: 2px solid #BDD6FB;
  --navigation-height: 3.75rem;

  --story-background-color: var(--light-background);
  --story-background-image: none;
  --story-background-box-shadow: none;
  --story-border-image: none;
  --story-border-width: 1px;
  --story-border-style: solid;
  
  --combined-entries-background-color: var(--light-background);
  --combined-entries-background-image: none;
  --combined-entries-background-box-shadow: none;
  --combined-entries-border-image: none;
  --combined-entries-border-width: 1px;
  --combined-entries-border-style: solid;
  
  --entry-base-background: var(--light-background);
  --entry-hover-background: #B8D6FF;
  --entry-active-background: #EBF5FF;
  --entry-active-font: var(--font-color);
  
  --editor-background: var(--light-background);
  --editor-color: var(--font-color);
  --editor-border: none;
  --editor-background-image: none;
  --editor-box-shadow: none;
}

@mixin hvr-icon-spin-container() {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

@mixin hvr-icon-spin-bridge() {
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

@mixin hvr-icon-spin-pseudo($degrees) {
  cursor: pointer;
  -webkit-transform: rotate($degrees + deg);
  transform: rotate($degrees + deg);
}

@mixin hvr-grow-rotate() {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

@mixin hvr-grow-rotate-pseudo() {
  cursor: pointer;
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}

body, html {
  font-family: var(--font-family);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
}
.like-popper {
  white-space: pre-line;
}
.like-tag {
  z-index: 10000;
  &:hover {
    cursor: pointer;
  }
}
.combined-entries {
  margin: 1rem;
  padding: 1rem;
  background: var(--combined-entries-background-color);
  background-image: var(--combined-entries-background-image);
  box-shadow: var(--combined-entries-box-shadow);
  border-image: var(--combined-entries-border-image);
  border-width: var(--combined-entries-border-width);
  border-style: var(--combined-entries-border-style);
  *, *:before, *:after {
    box-sizing: inherit;
    text-align:initial;
  }

  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }

  ol, ul {
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}
.el-input {
  font-family: var(--font-family);
  border-color: var(--base-button-border-color)!important;
  .el-input__inner {
    font-family: var(--font-family);
    background: var(--base-input-background);
    color: var(--alt-font-color);
  }
}
.el-select-dropdown {
  font-family: var(--font-family);
  background: var(--base-input-background);
  color: var(--alt-font-color);
  border: var(--base-button-border-color);
  .el-select-dropdown__item {
    font-family: var(--font-family);
    color: var(--alt-font-color);
  }
}
.el-select-dropdown__item {
  &:hover {
    background: var(--base-button-color)!important;
  }
  &.selected {
    background: var(--base-button-color)!important;
    span {
      color: var(--font-color)!important; 
    }
  } 
}
.el-dropdown-menu {
  font-family: var(--font-family);
  background: var(--base-input-background);
  border: var(--alt-font-color);
  .el-dropdown-menu__item {
    font-family: var(--font-family);
    color: var(--alt-font-color);
    &:hover {
      color: var(--font-color)!important;
    }
  }
}
.el-button--primary, .el-button.is-circle {
  font-family: var(--font-family);
  background: var(--base-button-color);
  color: var(--font-color);
  border-color: var(--base-button-border-color);
  &:hover {
    font-family: var(--font-family);
    background: var(--base-button-hover-color);
    color: var(--light-background);
    border-color: var(--light-background);
  }
}
.el-button--danger.is-circle {
  font-family: var(--font-family);
  background: var(--base-button-color);
  color: var(--font-color);
  border-color: var(--base-button-border-color);
  &:hover {
    font-family: var(--font-family);
    background: var(--font-color-error);
    color: var(--light-background);
    border-color: var(--light-background);
  }
}
.el-button--info, .el-button--default {
  font-family: var(--font-family);
  background: var(--base-input-background);
  color: var(--font-color-primary);
  border-color: var(--base-button-border-color);
  &:hover {
    font-family: var(--font-family);
    background: var(--base-button-hover-color);
    color: var(--light-background);
    border-color: var(--light-background);
  }
}
.el-button--success.is-plain {
  font-family: var(--font-family);
}
.popper__arrow {
  &:after {
    border-bottom-color: var(--base-input-background)!important;
  }
}